<h2 class="indent">Listing Teams</h2>

<table class="indent">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Export', team_path(team, :format => :csv) %></td>
	<% if current_user.has_role?(:admin) || current_user.has_role?(:coach) %>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
  </tr>
<% end %>
</table>
<br />

<% if current_user.has_role? :coach %>
<h2 class="indent">Teams I Coach</h2>

<table class="indent">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coached_teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Export', team_path(team, :format => :csv) %></td>
	<% if current_user.has_role?(:admin) || current_user.has_role?(:coach) %>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
  </tr>
<% end %>
</table>

<br />
<%end%>
<p class="indent">
<% if current_user.has_role? :coach %>
<%= link_to "Add Player To Team", team_invitations_path%>
<%end%>
<% if current_user.has_role? :admin %>
<%= link_to "Add Player To Team", team_invitations_path%>
<%end%>
</p>

<p class="indent">
<% if current_user.has_role? :coach %>
<%= link_to "New Team", new_team_path%>
<%end%>
<% if current_user.has_role? :admin %>
<%= link_to "New Team", new_team_path%>
<%end%>
</p>
