<h2>Listing Teams</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= link_to 'Show', team %></td>
	<% if current_user.has_role? :admin %>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
	<% if current_user.has_role? :coach %>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
  </tr>
<% end %>
</table>

<br />
<% if current_user.has_role? :coach %>
<%= link_to 'New Team', new_team_path %>
<%end%>
<% if current_user.has_role? :admin %>
<%= link_to 'New Team', new_team_path %>
<%end%>
