<%= simple_form_for(@distance_essential) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :team, :collection => current_user.teams %>
    <%= f.input :date %>
    <%= f.input :diet_quality %>
    <%= f.input :hours_of_sleep %>
    <%= f.input :minutes_run %>
    <%= f.input :minutes_streching, label:"Minutes stretching" %>
    <%= f.input :minutes_icing %>
    <%= f.input :core_strength %>
    <%= f.input :upper_body_weights %>
    <%= f.input :minutes_cross_training %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
