<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @distance_essential.user.name %>
</p>

<p>
  <b>Team:</b>
  <%= @distance_essential.team.name %>
</p>

<p>
  <b>Date:</b>
  <%= @distance_essential.date %>
</p>

<p>
  <b>Diet quality:</b>
  <%= @distance_essential.diet_quality %>
</p>

<p>
  <b>Hours of sleep:</b>
  <%= @distance_essential.hours_of_sleep %>
</p>

<p>
  <b>Minutes run:</b>
  <%= @distance_essential.minutes_run %>
</p>

<p>
  <b>Minutes streching:</b>
  <%= @distance_essential.minutes_streching %>
</p>

<p>
  <b>Minutes icing:</b>
  <%= @distance_essential.minutes_icing %>
</p>

<p>
  <b>Core strength:</b>
  <%= @distance_essential.core_strength %>
</p>

<p>
  <b>Upper body weights:</b>
  <%= @distance_essential.upper_body_weights %>
</p>

<p>
  <b>Minutes cross training:</b>
  <%= @distance_essential.minutes_cross_training %>
</p>


<%= link_to 'Edit', edit_distance_essential_path(@distance_essential) %> |
<%= link_to 'Back', :back %>
